In [30]:
import json
from openai import AzureOpenAI
import requests
from dotenv import load_dotenv
import os
from decimal import Decimal

In [2]:
load_dotenv()
print(os.environ.get('AZURE_OPENAI_KEY'))

d213aa73d27b4facb3898449b963ea11

In [3]:
endpoint = os.environ.get('ENDPOINT_URL')
deployment = os.environ.get('DEPLOYMENT_NAME')
api_key = os.environ.get('AZURE_OPENAI_KEY')

In [4]:
client = AzureOpenAI(
    azure_endpoint=endpoint,
    api_key=api_key,
    api_version="2023-07-01-preview"
)

In [5]:
def call_openai_function_calling(messages, tools):
    response = client.chat.completions.create(
        model=deployment,
        messages=messages,
        tools = tools,
        tool_choice="auto",
        
    )
    return response

In [6]:
import mysql.connector

def connect_to_database():
# Establish a connection to the MySQL database
    conn = mysql.connector.connect(
        host="database-1.czjbva8mjsze.ap-south-1.rds.amazonaws.com",
        user="RZCvH6mU954tK",
        password="hDxBO2q08qWrHJRf",
        database="MRP_PROD"
    )
    return conn

In [7]:
def get_table_names(conn):
    cursor = conn.cursor()
    cursor.execute("SHOW TABLES;")
    tables = [table[0] for table in cursor.fetchall()]
    return tables

def get_column_names(conn, table_name):
    cursor = conn.cursor()
    cursor.execute(f"DESCRIBE {table_name};")
    columns = [column[0] for column in cursor.fetchall()]
    return columns

def get_database_info(conn):
    table_dicts = []
    table_names = get_table_names(conn)
    for table_name in table_names:
        columns_names = get_column_names(conn, table_name)
        table_dicts.append({"table_name": table_name, "column_names": columns_names})
    return table_dicts

In [8]:
conn = connect_to_database()
database_schema_dict = get_database_info(conn)
database_schema_string = "\n".join(
    [
        f"Table: {table['table_name']}\nColumns: {', '.join(table['column_names'])}"
        for table in database_schema_dict
    ]
)
print(database_schema_string)

Table: address
Columns: id, city, country, pin_code, state, street, organization
Table: bill
Columns: id, balance_amount, bill_date, bill_number, bill_status, reference_number, source_of_supply, total, organization, purchase_order, supplier, warhouse
Table: bill_row
Columns: id, cost_per_unit, item_total, linked_quantity, quantity, tax_amount, bill, tax, variant
Table: committed
Columns: id, quantity, status, inventory_id, manufacturing_order, manufacturing_order_ingredient, purchase_order, purchase_order_row, sales_order, sales_order_row, committed, committed_serial_number, deadline, expected, expected_serial_number
Table: config
Columns: id, name, material_id, product_id
Table: config_attributes
Columns: id, config_name, config_value, variant_id
Table: config_value
Columns: id, value, config_id
Table: customer
Columns: id, company_name, contact_name, email, gst_number, gst_treatment, is_deleted, opening_balance_amount, outstanding_receivable_amount, phone_number, place_of_contact, unused_credits_receivable_amount, billing_address, organization, shipping_address
Table: expected
Columns: id, quantity, inventory_id, manufacturing_order, purchase_order, purchase_order_row, deadline, expected, expected_serial_number
Table: inventory
Columns: id, allocated_quantity_expected, allocated_quantity_in_stock, manufacturing_allocated_quantity_expected, manufacturing_quantity_expected, quantity_committed, quantity_expected, quantity_in_stock, quantity_missing_or_excess, reorder_point, value_in_stock, variant, warhouse
Table: inventory_history
Columns: id, balance_quantity, cost_per_price, movement_by, movement_date, quantity, value_in_stock, inventory_id
Table: invoice
Columns: id, invoice_date, invoice_number, place_of_supply, reference_number, total, customer, organization, sales_order, warhouse
Table: invoice_row
Columns: id, cost_per_unit, item_total, quantity, tax_amount, invoice, tax, variant
Table: item_tax_preference
Columns: id, tax_specification_type, material_id, product_id, tax
Table: manufacturing_order
Columns: id, additional_info, allocated_quantity, is_linked_to_sales_order, manufacturing_order_number, order_created_date, order_done_date, quantity, status, organization, sales_order_row_id, variant, warhouse
Table: manufacturing_order_ingredient
Columns: id, actual_quantity, cost, ingredient_availability, notes, planned_quantity, planned_quantity_per_unit, total_actual_quantity, manufacturing_order, variant
Table: manufacturing_order_operation
Columns: id, operation_status, planned_cost_per_unit, planned_time_per_unit, rank_column, total_actual_cost, total_actual_time, manufacturing_order, operation, resource
Table: material
Columns: id, description, deleted, purchasble, taxable, name, type, unit, default_supplier, organization
Table: opening_stock
Columns: id, quantity, value, inventory, variant, warhouse
Table: operation
Columns: id, deleted, operation_name, organization
Table: organization
Columns: id, created_at, primary_email, organization_name, phone_number, website
Table: privilege
Columns: id, module, privilege_name
Table: product
Columns: id, description, deleted, producible, purchasble, taxable, name, type, unit, default_supplier, organization
Table: product_bom
Columns: id, notes, quantity, product, variant
Table: product_bom_variant
Columns: product_bom_id, variant_id
Table: product_operation
Columns: id, cost_per_hour, operation_time, total_cost, operation, product, resource
Table: product_operation_variant
Columns: product_bom_id, variant_id
Table: purchase_order
Columns: id, billed_status, purchase_order_date, purchase_order_delivery_date, purchase_order_number, purchase_order_status, reference_number, source_of_supply, total, organization, supplier, warhouse
Table: purchase_order_row
Columns: id, allocated_quantity, cost_per_unit, item_total, quantity, quantity_billed, tax_amount, purchase_order, tax, variant
Table: quotes
Columns: id, place_of_supply, quotes_date, quotes_number, quotes_status, reference_number, total, customer, organization, sales_order, warhouse
Table: quotes_row
Columns: id, cost_per_unit, item_total, quantity, quantity_invoiced, tax_amount, quotes, tax, variant
Table: resource
Columns: id, cost_per_hour, deleted, resource_name, organization
Table: role
Columns: id, role_name, organization
Table: role_privileges
Columns: role_id, privileges_id
Table: sales_order
Columns: id, place_of_supply, reference_number, sales_order_date, sales_order_number, sales_order_status, total, customer, organization, warhouse, delivery_date
Table: sales_order_row
Columns: id, cost_per_unit, item_total, linked_manufacturing_order_id, linked_quantity, product_availability_status, quantity, quantity_invoiced, tax_amount, sales_order, tax, variant, quantity_billed
Table: stock_adjustment
Columns: id, adjustment_date, reason, stock_adjustment_number, total, warhouse
Table: stock_adjustment_row
Columns: id, cost_per_unit, item_total, quantity, stock_adjustment_id, variant
Table: stock_transfer
Columns: id, stock_transfer_number, transfer_date, destination_warhouse, source_warhouse
Table: stock_transfer_row
Columns: id, quantity, stock_transfer_id, variant
Table: supplier
Columns: id, company_name, contact_name, email, gst_number, gst_treatment, is_deleted, opening_balance_amount, outstanding_receivable_amount, phone_number, place_of_contact, unused_credits_receivable_amount, billing_address, organization, shipping_address
Table: tax
Columns: id, deleted, taxable, tax_name, tax_percentage, tax_specific_type, tax_type, organization
Table: tax_group_tax_new
Columns: tax_group_id, tax_id
Table: tax_row
Columns: id, amount, bill_row, invoice_row, purchaseorder_row, quotes_row, salesorder_row, tax
Table: transaction_prefixe
Columns: id, module, prefix, starting_number, organization
Table: unit
Columns: id, deleted, unit, organization
Table: user
Columns: id, email, admin, enabled, password, username, organization
Table: user_role
Columns: user_id, role_id
Table: variant
Columns: id, ingredients_cost, deleted, purchasble, operation_cost, purchase_price, sales_price, sku, material_id, organization, product_id
Table: warhouse
Columns: id, email, is_active, is_deleted, is_primary, phone_number, warhouse_name, warhouse_address, organization

In [18]:
tools = [
    {
        "type": "function",
        "function": {
            "name": "ask_database",
            "description": "Use this function to answer user questions about music. Input should be a fully formed SQL query.",
            "parameters": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": f"""
                                SQL query extracting info to answer the user's question.
                                SQL should be written using this database schema:
                                {database_schema_string}
                                The query should be returned in plain text, not in JSON.
                                """,
                    }
                },
                "required": ["query"],
            },
        }
    }
]

In [21]:
def ask_database(conn,query):
    conn = connect_to_database()
    cursor = conn.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    return str(result)

In [11]:
messages = [
    {"role": "system", "content": "You are a helpful assistant connected to a MySQL database."},
    {"role": "user", "content": "Give me the top 3 product pricing"}
]
response = call_openai_function_calling(messages,tools)

response_message = response.choices[0].message

print(response_message)

ChatCompletionMessage(content=None, role='assistant', function_call=None, tool_calls=[ChatCompletionMessageToolCall(id='call_BGlDsAlpgC0OIRFefh91KCBg', function=Function(arguments='{"query":"SELECT name, unit, sales_price FROM product ORDER BY sales_price DESC LIMIT 3;"}', name='ask_database'), type='function')])

In [34]:
tools_call = response_message.tool_calls

if tools_call:
     tool_call_id = tools_call[0].id
     tool_function_name = tools_call[0].function.name
     tool_query_string = """
     SELECT 
    CASE 
        WHEN p.id IS NOT NULL THEN p.name
        ELSE m.name
    END AS product_name,
    SUM(ir.item_total) AS total_revenue,
    COUNT(DISTINCT i.id) AS number_of_sales
FROM sales_order_row ir
JOIN sales_order i ON ir.sales_order = i.id
LEFT JOIN variant v ON ir.variant = v.id
LEFT JOIN product p ON v.product_id = p.id
LEFT JOIN material m ON v.material_id = m.id
WHERE i.organization = UNHEX(REPLACE("7f366021-c66a-4fdc-99ae-bdfce2113cb2", "-", ""))
    AND i.sales_order_date IS NOT NULL
GROUP BY 
    CASE 
        WHEN p.id IS NOT NULL THEN p.name
        ELSE m.name
    END
ORDER BY total_revenue DESC
LIMIT 10;
     """
     if tool_function_name == 'ask_database':
          results = execute_query(conn,tool_query_string)
          
          messages.append({
            "role":"tool", 
            "tool_call_id":tool_call_id, 
            "name": tool_function_name, 
            "content":json.dumps(results, use_decimal=True)
        })

          model_response = call_openai_function_calling(messages=messages, tools = tools)
          print(model_response.chioces[0].content)
     else: 
            print(f"Error: function {tool_function_name} does not exist")
else:
     print(response_message.content)
         




# By using Chatbot 
# Use Funtion inside the SQL Call the Function

TypeError: JSONEncoder.__init__() got an unexpected keyword argument 'use_decimal'

In [23]:
print(ask_database)

<function ask_database at 0x7e191c484670>